{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Test API"
  },
  "host": "api-in21.leadsquared.com",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/ProspectActivity.svc/Create": {
      "post": {
        "summary": "Sample endpoint: Post acitivity for a particular user",
        "operationId": "addActivity",
        "tags": [
          "Create"
        ],
        "parameters": [
          {
            "name": "accessKey",
            "in": "query",
            "type": "string",
            "description": "Access key of the user",
            "required": true
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This is the status code for successful API call"
          },
          "400": {
            "description": "The message body on the request is not as per API specification. Make sure that content type is set to “application/json” and the JSON body has correct attribute names and structure."
          },
          "401": {
            "description": "The API call was made with invalid access credentials. Check your AccessKey and SecretKey."
          },
          "404": {
            "description": "The API could not be found. Please check the API signature."
          },
          "429": {
            "description": "API calls exceeded the limit of 25 in 5 second(s)."
          },
          "500": {
            "description": "The API called failed. There could be many reasons for it. Check the exception message to get more details."
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "definitions": {
    "order": {
      "type": "object",
      "properties": {
        "RelatedProspectId": {
          "type": "string"
        },
        "ActivityEvent": {
          "type": "integer"
        },
        "ActivityNote": {
          "type": "string"
        },
        "ActivityDateTime": {
          "type": "string",
          "example": "yyyy-mm-dd hh:mm:ss"
        },
        "Fields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/fields"
          }
        }
      }
    },
    "fields": {
      "type": "object",
      "properties": {
        "SchemaName": {
          "type": "string",
          "example": "mx_Custom_1"
        },
        "Value": {
          "type": "string"
        }
      }
    }
  }
}