{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "K2-GoogleMaps "
  },
  "host": "maps.googleapis.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/maps/api/geocode/json": {
      "post": {
        "summary": "identify lat long",
        "operationId": "retriveLatLong",
        "tags": [
          "Middleware APIs"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "type": "string",
            "description": "api key of the user"
          },
          {
            "name": "address",
            "in": "query",
            "description": "address of the user",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "This is the status code for successful API call",
            "schema": {
              "$ref": "#/definitions/results"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "definitions": {
    "results": {
      "type": "object",
      "properties": {
        "formatted_address": {
          "type": "string"
        },
        "geometry": {
          "$ref": "#/definitions/geometryValues"
        }
      }
    },
    "geometryValues": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/locationValues"
        }
      }
    },
    "locationValues": {
      "type": "object",
      "properties": {
        "lat": {
          "type": "string"
        },
        "lng": {
          "type": "string"
        }
      }
    }
  }
}
